body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background: rgb(25, 25, 25);
}
.header {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
button {
  display: flex;
  flex-direction: row;
  height: 160px;
  width: 160px;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 80px;
  margin: 10px 10px;
  cursor: pointer;
}
.reset-button {
  background-color: rgb(110, 30, 130);
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  width: 160px;
  border-radius: 20px;
  margin-top: 10px;
}
.autoPlayButton {
  background-color: rgb(110, 30, 130);
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  width: 160px;
  border-radius: 20px;
  margin-top: 10px;
}
.img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
}
.mini-img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid white;
  justify-content: center;
  vertical-align: middle;
}
.js-result {
  color: #fe5154;
  font-weight: bold;
  font-size: 26px;
  margin: 18px 0px;
}
.js-moves {
  color: #0b5cce;
  font-size: 20px;
  font-weight: bold;
  margin: 8px 8px;
}
.js-score {
  color: #43c6ac;
  font-size: 20px;
  font-weight: bold;
  margin: 12px 12px;
}
